<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>

<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Novo artigo
            </div>
            <div class="card-body">
                <form action="/article/save" method="POST" > 
                    <div class="form-group">
                        <input class="form-control w-25 mb-2" type="text" name="title" placeholder="titulo do artigo">
                        <textarea class="form-control" name="body" id="article" cols="15" rows="10" placeholder="Descreva o artigo">

                        </textarea>
                        <label for="">Categoria</label>
                        <select name="category" id="" class="form-control">
                            <% categories.forEach((category) => {%>
                                <option value="<%= category.id %>"><%= category.title %></option>
                                <% }) %> 
                            <br>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-success">cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ../../partials/footer.ejs %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save  table paste emoticons'
        ]
    })
</script>