<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<div class="container bg-light">
    <div class="col">
        <h3>Categorias</h3>
        <a class="btn btn-outline-sucess" href="/admin/categories/new" > Criar</a>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>id</th>
                    <th>titulo</th>
                    <th>slug</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => {%>
                    <tr>
                        <td><%= category.id %> </td>
                        <td><%= category.title %> </td>
                        <td><%= category.slug %> </td>
                        <td> 
                            <div> <button class="btn btn-outline-warning">Apagar</button>
                            <button class="btn btn-outline-primary ">Editar</button>
                            </div>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</div>

<%- include ../../partials/footer.ejs %>
